{% extends 'layouts/base.html' %}

{% block header %}
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
      <a href="{{ url_for('page.home') }}">
          <img src="{{ static_url_for('static', filename='images/logo.png') }}"
               alt="check-redirects corporate logo" width="70" height="40">
      </a>
    </div>
  </nav>
{% endblock %}

{% block footer %}
  <li class="list-inline-item">
    <a href="{{ url_for('contact.index') }}">Contact</a>
  </li>
  <li class="list-inline-item">
    <a href="{{ url_for('page.privacy') }}">Privacy Policy</a>
  </li>
  <li class="list-inline-item">
    <a href="{{ url_for('page.terms') }}">Terms of Service</a>
  </li>
{% endblock %}
